<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header {
  display:block;
}
.headerLeft {
  float:left;
  width:70%;
}
.headerRight{
  float:left;
  width:30%;
  
  text-align:right;
}
.headerRight li {
  float:right;
}
</style>
</head>